{
  "tabWidth": 4,
  "bracketSameLine": true,
  "parser": "html",
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 110
}